<div class="country-block">
	<p class="inline"><%= record.country.country_name %></p>
	<p class="country-buttons inline">
		<% if record.user == current_user %>
		  	<%= link_to "I've been there!", create_update_country_travel_record_user_path(id: current_user.id, country_id: record.country.id, travel_status: "havebeen"), class: "btn btn-success btn-xs", method: :post, remote: true %>&nbsp;
		  	<%= link_to "Remove", country_travel_record_path(record), method: :delete, data: { confirm: "Are you sure?"}, class: "btn btn-warning btn-xs", remote: true %>
	  	<% end %>
	</p>
</div>