<div class="aligned-center">
<% @user = User.find(2) %>
<div class="avatar-friend-list"><%= link_to (image_tag @user.avatar.url(:thumb)), @user %></div>
<div class="avatar-name"><%= link_to @user.firstname, @user %></div>
<%= link_to 'Match', match_user_path(@user), class: "btn btn-primary btn-xs" %>
</div>
