<div role="tabpanel">
  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation"class="active"><a href="#wannavisit" aria-controls="wannavisit" role="tab" data-toggle="tab">I Wanna Visit</a></li>    
    <li role="presentation"><a href="#havebeen" aria-controls="havebeen" role="tab" data-toggle="tab">I've Been To</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    
    <!-- show countries wanna visit -->
    <div role="tabpanel" class="tab-pane fade in active" id="wannavisit">
      <div class="container-country-travel-record-tab">
        <% @user.country_travel_records_wannavisit.each do |record| %>
          <%= render partial: "countries_wannavisit", locals: { record: record }  %>
        <% end %>
      </div>
    </div>

    <!-- show countries have been -->
    <div role="tabpanel" class="tab-pane fade" id="havebeen">
      <div class="container-country-travel-record-tab">
        <% @user.country_travel_records_havebeen.each do |record| %>
          <%= render partial: "countries_havebeen", locals: { record: record }  %>
        <% end %>
      </div>
    </div>
      
  </div>

</div>