<div class="text-center container-headline">
	
	<h1>Travel With Whom You Already Know</h1>
	<p>Find Out If Your Friends Are Good Travel Partners For You</p>

	<div class="parent">
		<div class="child">

			<%= link_to 'Start Now', how_it_works_path, class: "btn btn-warning btn-lg btn-cta" %>
			
		</div>
	</div>
</div>


<div id="bg">
	<%= image_tag("#{1+rand(4)}.jpg") %>
</div>
<div id="darken">
</div>





