<% if controller.class == WelcomeController && controller.action_name == 'index' %>
    <nav class="navbar landing-page-menu">
<% else %>
    <nav class="navbar navbar-inverse">
<% end %>

  <div class="container-fluid narrower-nav-top">

    <%= render "layouts/logo" %>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="navbar-collapse-1">
      
      <ul class="nav navbar-nav">
        
        <!-- display roll-over highlight if current page -->
        <li class=
          <% if controller.class == WelcomeController && controller.action_name == 'how_it_works' %>
            "active"
          <% end %>
        >
          <%= link_to 'How It Works', how_it_works_path %>
        </li>

        <li class=
          <% if controller.class == Devise::RegistrationsController && controller.action_name == 'new' %>
            "active"
          <% end %>
        >
          <li><%= link_to 'Sign Up', new_user_registration_path %></li>
        </li>


      </ul>

      <p class="navbar-text navbar-right">
        <%= link_to 'Sign In', new_user_session_path, class: "navbar-link" %> 
      </p>


    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>